<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | 멋직</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a>헤더 자리입니다. </a>
                <li><img src="" alt="logo" >로고</li>
                <li><a href="{% url 'company_list' %}">제품 검색(회사 리스트보기)</a></li>
                <li><a href="">개인 페이지</a></li>
                {% if user.is_authenticated %}
                    <li><a href="">로그아웃</a></li>
                {% else %}
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% block content %}{% endblock%}

{% block javascript %}{% endblock %}
<br>
<br>
<br>
<br>



<footer>
    <a href="">footer .</a>
</footer>
</body>
</html>
