{% extends 'base.html' %}

{% block title %} 회사 리스트 출력 {% endblock %}

<!--
    추가내용  : 


-->



{% block content %}
<div>
    <form action="{% url 'searchapp:search' %}" method="get">
        <label for="search_key" >검색하기</label>
        <input type="text" name="search_key" label="search_key" placeholder="원하는 분야의 제조업체나 비슷한 제품을 검색해보세요">
        <input type="submit" >
    </form>
</div>

<div class='category'>
    <form action="checkbox" method="post">
    {% csrf_token %}
        

    {% for c in category %}
        <a>{{ c.name }}</a>
        <input class="" type="checkbox" name="checks[]" value="{{ c.name }}.{{ c.id  }}" >

    {% endfor %}
    <button type="submit"> 검색하기 </button>
    </form>
</div>



<h1>회사 리스트 출력 (이름을 제외하고는 안나오도록 수정 / 이미지 파일 추가 / 페이징 추가)</h1>
<table border="1">
    <tr>
        <th>회사이름</th>
        <th>회사 대표</th>
        <th>설립 연도</th>
        <th>지역</th>
        <th>전화번호</th>
        <th>이메일 주소</th>    
        <th>홈페이지</th>
    </tr>

    {% for company in company_list_all %}
    <tr>
        <td><a href="{% url 'company_detail' company.id %}">{{company.company_name}}</a></td>
        <td>{{ company.ceo_of_company}}</td>
        <td>{{ company.year_of_establishment}}</td>
        <td>{{ company.area}}</td>
        <td>{{ company.number}}</td>
        <td>{{ company.email_address}}</td>
        <td>{{ company.homepage}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock%}

